*{margin:0; padding:0;}
a{text-decoration: none;}
kbd{
  border: 1px solid red; 
  width: 4em; height: 4em;
  display: inline-block;
text-transform: uppercase; position:relative;}
kbd > button { position: absolute; right: 0; bottom: 0; display: none; }
kbd:hover > button { display: inline-block; }
body {
  /* height: 100vh; */
  /* 100vh和窗口一样高 */
  background: grey url(./1.png) no-repeat center center;
  /* 背景平铺方式 */
  background-size: cover;
}
#main {
  display: inline-block;
}
#main > div:nth-child(2){ margin-left: -17px; }
#main > div:nth-child(3){ margin-left: -80px; }
.wrapper {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
main {
  
  text-align: center;
  display: flex;
  /* 左右居中 */
  justify-content: center;
  /* 上下居中 */
  align-items: center;
  height: 100vh;
}
.key{
  width: 50px;
  height: 40px;
  background: linear-gradient(to bottom, #292929 0%, #111111 100%);
  border: 1px solid #373737;
  color: #c5c5c5;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  font-size: 16px;
  font-family: helvetica;
}
.row {
  margin: 20px;
}
.row .key {
  margin: 0 10px;
}
.key img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  bottom: 2px;
}
.key .text {
  position: absolute;
  left: 4px;
  top: 2px;
}